/* RGB */
$color1: rgba(97, 112, 115, 1);
$color2: rgba(122, 147, 172, 1);
$color3: rgba(146, 188, 234, 1);
$color4: rgba(241, 86, 34, 1);
$color5: rgba(46, 46, 58, 1);

// $color1: rgba(248, 163, 93, 1);
// $color2: rgba(242, 236, 193, 1);
// $color3: rgba(25, 54, 97, 1);
// $color4: rgba(152, 185, 171, 1);
// $color5: rgba(227, 23, 10, 1);

@import '../../node_modules/materialize-css/sass/materialize.scss';
@import './components/App.scss';
@import './components/Controls.scss';
@import './components/Forecast.scss';
@import './components/Weather.scss';
@import './components/Banner.scss';


body {
  background-color: $color3;
  color: whitesmoke;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  // border: 1px solid green;
  -webkit-text-fill-color: whitesmoke;
  // -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  // transition: background-color 5000s ease-in-out 0s;
  background-color: transparent;
  -webkit-background-color: transparent;
  background: none;
}

input {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px tomato;
}