@import '../../node_modules/materialize-css/sass/materialize.scss';
@import './components/App.scss';
@import './components/Controls.scss';
@import './components/Forecast.scss';
@import './components/Weather.scss';
@import './components/Banner.scss';

body {
  background-color: #262627;
  color: whitesmoke;
}

#control-container {
    @media (max-width: 500px) {
        position: absolute;
        bottom: 0px;
    }
}