/* RGB */
$color1: rgba(97, 112, 115, 1);
$color2: rgba(122, 147, 172, 1);
$color3: rgba(146, 188, 234, 1);
$color4: rgba(241, 86, 34, 1);
$color5: rgba(46, 46, 58, 1);

@import '../../node_modules/materialize-css/sass/materialize.scss';
@import './components/App.scss';
@import './components/Controls.scss';
@import './components/Forecast.scss';
@import './components/Weather.scss';
@import './components/Banner.scss';


body {
  background-color: $color3;
  color: whitesmoke;
}

#control-container {
    @media (max-width: 500px) {
        position: absolute;
        bottom: 0px;
    }
}