@import './materialize/materialize.scss';

body {
    font-family: sans-serif;
    margin: 0;
}

#form-container {
    margin: 1em;
}

#data-container {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

#location-container {
    h2 {
        margin: 0
    }
}

#app-header {
    // width: 70%;
    font-family: 'Josefin Sans';
    @extend .indigo, .lighten-2;
    background: linear-gradient(90deg, black, #0d47a190, #1e88e590);
    padding: 0.5em;
    margin: auto;
    .w2 {
        @extend .green-text, .text-lighten-2;
    }
    a {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    h1 {
        font-size: 4rem;
        user-select: none;
        margin: 0 0.25em;
        @extend .grey-text, .text-lighten-5;
        display: block;
    }
    i {
        font-size: 4rem;
        @extend .grey-text, .text-lighten-5;
        display: block;
    }
}
#settings {
    padding: 0;
}
#mode, #units {
    h3 {
        @extend .grey-text, .text-lighten-5;
        background-color: #1e88e590;
        font-size: 1.2rem;
        margin: 0;
        padding: 10px 20px;
        text-transform: uppercase;
    }
        padding: 0;
        a {
            cursor: pointer;
        }
        li{
            font-size: 1.1rem;
            user-select: none;
            i {
                vertical-align: middle;
                font-size: 1em;
            }
        }
}

#weather-icon {
    display: block;
}
.condition-summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
        display: block;
    }
}

.dir {
    @extend .red-text, .lighten-1;
    font-weight: bold;
}

  @media #{$medium-and-down} {
    //   body {
    //       background-color: black;
    //   }
    #app-header {
        h1 {
            font-size: 8vw;
        }
        i {
            font-size: 8vw;
        }
    }
  }
  @media #{$small-and-down} {
      #app-header {
          width: 100%;
      }
  }