@import '../../node_modules/materialize-css/sass/materialize.scss';
@import './App.scss';
@import './Controls.scss';
@import './Forecast.scss';
@import './Weather.scss';
@import './Banner.scss';

body {
  background-color: #262627;
  color: whitesmoke;
}

#control-container {
    @media (max-width: 500px) {
        position: absolute;
        bottom: 0px;
    }
}