#app-header {
    // @extend .container;
    padding-left: 2rem !important;
    font-family: Oxanium, sans-serif;
    // background: linear-gradient(90deg, $color1, $color2);
    background-color: $color5;
    padding: 0.5em;
    margin: auto;
}

a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  font-size: 2rem;
  user-select: none;
  margin: 0 0.25em;
  display: block;
  color: $color2;

  #wizard {
    color: rgba(245, 245, 245, 0.897)
  }
}

#logo {
  height: 1.5rem;
  margin: 0 3px;
//   margin-bottom: 7.5px;
}
