#chart-container {
    background-color: rgba(211, 211, 211, 0.137);
    padding: 1em;
}

#chart-flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

#feature-select {
    
}

#feature-container {
    flex-basis: 30%
}

#chart-title {
    color: $color1;
    font-size: 2rem;
}