#chart-container {
    background-color: $color5;
    padding: 2rem;
}

#chart-flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

#feature-container {
    flex-basis: 30%;

    input {
        color: whitesmoke;
    }
}

#chart-title {
    color: whitesmoke;
    font-size: 2rem;
}

.chart-legend {
    fill: whitesmoke;
}

.chart-stroke {
    stroke: $color4;
}