#control-container {
    display: flex;
    flex-direction: column;
    button {
        @extend .btn;
        width: 100%;
        display: block;
        color: white;
        i {
            display: inline-block;
            vertical-align: bottom;
        }
    }
}