
    #forecast-container {
        // @extend .row;
        background-color: rgba(245, 245, 245, 0.185);
        padding: 2em;
        box-sizing: border-box;
        display: flex;
        width: 100%;
        max-width: 100%;
        flex-wrap: nowrap;
        overflow: scroll;
        // border: 2px solid rgba(245, 245, 245, 0.185);
        @media (max-width: 400px) {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            padding: 0;
            background-color: transparent;
        }
    }
    .day {
        // flex-basis: 1;
        // flex-grow: 0;
        min-width: 150px;
        width: 15%;
        // @extend .col, .s2;
        box-sizing: border-box !important;
        height: 300px;
        text-align: center;
        padding: 1em;
        color: rgba(245, 245, 245, 0.897);
        background-color: $color2;
        margin: 0.25em;
        @media (max-width: 400px) {
            width: 100%;
        }

        i {
            display: block;
            height: 24px;
        }

        .card-title {
            font-size: 1em !important;
            display: block;
            position: absolute;
            right: 5%;
            bottom: 0px;
        }
        .card-reveal {
            padding: 0 !important;
            text-align: left;
            color: #353535;

            .collection {
                margin: 0;
                .collection-item {
                    font-size: 1em;
                    vertical-align: bottom;
                    img {
                        height: 24px;
                        display: inline-block;
                        vertical-align: bottom;
                    }
                }
            }
            .label {
                display: inline-block;
                font-weight: bold;
                margin: 0 5px;
            }
            .uv {
                color: rgb(140, 7, 197);
            }
        }
        .temp {
            color: whitesmoke;
            background-color: $color5;;
        }
    }

    