#fetchSpinner {
    height: 100px;
    width: 100px;
    // border: 5px solid rgba(255;255;255;0.3);
    border: 5px solid #35353575;
    border-top-color: #81c683;
    border-radius: 50%;
    z-index: 1;
    animation: spin 1s linear infinite;
}
#spinner-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    // backgroundColor: black;
    // padding: 2em;
}

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}

.condition {
    display: flex;
    font-size: 2em;
    h2 {
        margin: 0
    }
    .icon {
        max-height: 64px;
        width: auto
    }
    .label {
        font-weight: bold
    }
    .wind_dir {
        color: rgb(230, 63, 63);
        font-weight: bold
    }
}
